Anisha Gharat

BE Comps Batch E

Roll no.: 68

UID: 2018230071

# **EXPERIMENT NO. 2A**

**Aim:** To implement AHP method using the given details.

In [1]:
RN=68
N=10+RN%3
print("No. of Alternatives (N):",N)
M=7+RN%3
print("No. of Attributes (M):",M)

No. of Alternatives (N): 12
No. of Attributes (M): 9

In [2]:
lrange = 15-RN%16
print("Start range: ",lrange)
rrange = 30+RN%16
print("End range: ",rrange)

Start range:  11
End range:  34

In [3]:
import numpy as np
import pandas as pd

data = np.random.randint(lrange, rrange+1, size=(N, M))
df = pd.DataFrame(data, columns=[i for i in range(0,M)])
print("Decision matrix:")
df

Decision matrix:

     0   1   2   3   4   5   6   7   8
0   32  30  11  18  22  29  33  19  19
1   12  23  22  32  25  29  33  34  26
2   15  18  19  28  18  34  18  22  17
3   18  21  21  32  29  13  19  34  28
4   20  21  19  24  20  25  30  12  22
5   20  22  17  27  20  24  11  22  25
6   21  31  34  27  25  14  33  20  16
7   25  23  26  11  20  11  16  21  27
8   15  30  32  25  14  34  19  21  12
9   29  34  12  34  23  29  22  14  31
10  32  11  12  20  16  13  12  17  28
11  13  21  13  12  29  15  13  16  28

In [4]:
pairdata = np.random.randint(2, 9, size=(M, M))
pf = pd.DataFrame(pairdata, columns=[i for i in range(0,M)])
pf['Sum'] = pf.sum(axis=0)
print("Pair wise Comparison Dataset:")
pf

Pair wise Comparison Dataset:

   0  1  2  3  4  5  6  7  8  Sum
0  8  5  4  4  5  6  5  4  5   42
1  8  7  7  8  2  3  4  6  8   44
2  6  5  4  2  4  6  3  6  7   41
3  3  3  2  5  8  4  8  3  8   51
4  2  8  2  7  4  5  5  2  6   33
5  3  4  3  8  2  8  8  3  6   45
6  7  6  6  4  2  3  4  8  6   45
7  2  3  6  7  2  3  2  5  6   41
8  3  3  7  6  4  7  6  4  8   60

In [5]:
npf=pf
npf = npf/npf["Sum"]
del npf['Sum']
print("Normalised Pair wise comparison matrix:")
npf

Normalised Pair wise comparison matrix:

          0         1         2  ...         6         7         8
0  0.190476  0.113636  0.097561  ...  0.111111  0.097561  0.083333
1  0.190476  0.159091  0.170732  ...  0.088889  0.146341  0.133333
2  0.142857  0.113636  0.097561  ...  0.066667  0.146341  0.116667
3  0.071429  0.068182  0.048780  ...  0.177778  0.073171  0.133333
4  0.047619  0.181818  0.048780  ...  0.111111  0.048780  0.100000
5  0.071429  0.090909  0.073171  ...  0.177778  0.073171  0.100000
6  0.166667  0.136364  0.146341  ...  0.088889  0.195122  0.100000
7  0.047619  0.068182  0.146341  ...  0.044444  0.121951  0.100000
8  0.071429  0.068182  0.170732  ...  0.133333  0.097561  0.133333

[9 rows x 9 columns]

In [6]:
npf["Criteria Weights"] = npf.mean(axis=1)
print("Normalised Pair wise comparison matrix with Criteria weights:")
npf

Normalised Pair wise comparison matrix with Criteria weights:

          0         1         2  ...         7         8  Criteria Weights
0  0.190476  0.113636  0.097561  ...  0.097561  0.083333          0.117440
1  0.190476  0.159091  0.170732  ...  0.146341  0.133333          0.130333
2  0.142857  0.113636  0.097561  ...  0.146341  0.116667          0.108610
3  0.071429  0.068182  0.048780  ...  0.073171  0.133333          0.111336
4  0.047619  0.181818  0.048780  ...  0.048780  0.100000          0.100854
5  0.071429  0.090909  0.073171  ...  0.073171  0.100000          0.109078
6  0.166667  0.136364  0.146341  ...  0.195122  0.100000          0.115454
7  0.047619  0.068182  0.146341  ...  0.121951  0.100000          0.088118
8  0.071429  0.068182  0.170732  ...  0.097561  0.133333          0.118776

[9 rows x 10 columns]

In [7]:
pf["Criteria Weights"] = npf["Criteria Weights"]
cpf = pf.mul(pf["Criteria Weights"], axis=1)
del cpf['Sum']
del cpf['Criteria Weights']
print("Column-wise multiplication with the criteria weights:")
cpf

Column-wise multiplication with the criteria weights:

          0         1        2  ...         6         7         8
0  0.939519  0.651666  0.43444  ...  0.577270  0.352474  0.593880
1  0.939519  0.912332  0.76027  ...  0.461816  0.528710  0.950208
2  0.704639  0.651666  0.43444  ...  0.346362  0.528710  0.831432
3  0.352320  0.390999  0.21722  ...  0.923633  0.264355  0.950208
4  0.234880  1.042665  0.21722  ...  0.577270  0.176237  0.712656
5  0.352320  0.521332  0.32583  ...  0.923633  0.264355  0.712656
6  0.822079  0.781999  0.65166  ...  0.461816  0.704947  0.712656
7  0.234880  0.390999  0.65166  ...  0.230908  0.440592  0.712656
8  0.352320  0.390999  0.76027  ...  0.692724  0.352474  0.950208

[9 rows x 9 columns]

In [8]:
cpf["Weighted Sum value"] = cpf.sum(axis=1)
cpf["Criteria Weights"] = npf["Criteria Weights"]
cpf["Ratio"] = cpf["Weighted Sum value"]/cpf['Criteria Weights']
print("Ratio of Weighted Sum value and Criteria Weights:")
cpf

Ratio of Weighted Sum value and Criteria Weights:

          0         1        2  ...  Weighted Sum value  Criteria Weights      Ratio
0  0.939519  0.651666  0.43444  ...            5.153333          0.117440  43.880612
1  0.939519  0.912332  0.76027  ...            5.972488          0.130333  45.824795
2  0.704639  0.651666  0.43444  ...            4.777808          0.108610  43.990478
3  0.352320  0.390999  0.21722  ...            4.898562          0.111336  43.997958
4  0.234880  1.042665  0.21722  ...            4.689089          0.100854  46.493753
5  0.352320  0.521332  0.32583  ...            5.065149          0.109078  46.435956
6  0.822079  0.781999  0.65166  ...            5.109445          0.115454  44.255216
7  0.234880  0.390999  0.65166  ...            3.969991          0.088118  45.052922
8  0.352320  0.390999  0.76027  ...            5.333976          0.118776  44.907842

[9 rows x 12 columns]

In [9]:
Ymax=cpf["Ratio"].mean()
print("Ymax =",Ymax)

Ymax = 44.98217011841382

In [10]:
CI = Ymax-9/9-1
print("Consistency Index =",CI)

Consistency Index = 42.98217011841382

In [11]:
RI = df.iloc[9][0]
CR = CI/RI
print("Consistency Ratio =",CR)

Consistency Ratio = 1.4821437971866833

**CR is not less than 0.10, the matrix is not consistent.**